@import '~antd/dist/antd.css';

.logo {
  height: 28px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: -2px;
}

.ant-menu-item.menu-logout a {
  color: #f5222d;
}

.ant-menu-item.ant-menu-item-active.menu-logout:hover,
.ant-menu-item.ant-menu-item-selected.menu-logout:hover {
  border-color: #f5222d;
}

.ant-menu-item.ant-menu-item-active.menu-logout:hover a,
.ant-menu-item.ant-menu-item-selected.menu-logout:hover a {
  color: #f5222d;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 42px;
}

.titleAdd {
  padding-left: 12px;
}

.ant-table-row {
  background: #fff;
}

.danger {
  color: #f5222d;
}

.ant-message-notice:first-child {
  margin-top: 35px;
}

.pointer {
  cursor: pointer;
}

.new-user-form {
  margin: 15px 0;
}

.settings-form {
  max-width: 600px;
}

.settings-form .ant-form-item {
  margin-bottom: 8px;
}

.settings-form .ant-divider {
  margin-top: 0;
  margin-bottom: 16px;
}

.settings-form h4 {
  margin-top: 1em;
}

.settings-form .ant-switch {
  margin-right: 6px;
}

.settings-form .ec-block {
  margin-top: 8px;
}