@import '~antd/dist/antd.css';

.logo {
  height: 28px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: -2px;
}

.ant-menu-item.menu-logout a {
  color: #f5222d;
}

.ant-menu-item.ant-menu-item-active.menu-logout:hover {
  border-color: #f5222d;
}

.ant-menu-item.ant-menu-item-active.menu-logout:hover a {
  color: #f5222d;
}
